 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">添加IP</h3>
 </div>
 <form id="ajax_form">
<div class="modal-body">

        <div class="form-group">
        {{form.hidden_tag()}}
        {{form.pid(id="input-pid", type="hidden")}}
        <label>IP地址</label>
           <div>
               {{form.ip(class="form-control", id="input-rdm")}}
           </div>
        </div>
      <div class="form-group">
        <label>备注</label>
        <div>
          {{form.note(class="form-control", id="input-note")}}
        </div>
      </div>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button type="submit" class="btn btn-danger" data-dismiss="modal" id="ajax_add_submit">确认</button>
</div>
 </form>