{% extends "base.html" %}
{% block body %}
<div class="content">
<ul class="breadcrumb">
        <li><a href="{{url_for('main.index')}}">首页</a> <span class="divider">/</span></li>
        <li class="active">服务端口查询</li>
</ul>
<div class="content-wrap">
  <div class="target-list-index">
    <div class="search-well">
                <form class="form-inline" action="{{url_for('main.q_ip_port')}}">
                    <input class="input-xlarge" placeholder="192.168.0.1" id="appendedInputButton" type="text" name="q" value="{{q}}">
                    <button class="btn" type="submit"><i class="icon-search"></i>查询</button>
                </form>
    </div>
<div class="panel panel-color">
  <div class="panel-body" style="display: block;">
    <section>
      <ul id="myTab2" class="nav nav-tabs">
        <li class="active">
          <a href="#servicePanel" data-toggle="tab" aria-expanded="false">
            服务
          </a>
        </li>
        </li>
      </ul>
  <section class="panel">
        <div class="panel-body">
          <div id="myTabContent2" class="tab-content">
            <div class="tab-pane active" id="servicePanel">
              <section class="panel">
                <div class="service-list-index">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>IP</th>
                        <th>更新时间</th>
                        <th>端口</th>
                        <th>协议</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if tables %}
                    {% for table in tables %}
                      <tr>
                        <td>
                          <a data-remote="true" href="{{url_for('main.q_dns')}}?q={{table.ip}}">
                            {{table.ip}}
                          </a>
                        </td>
                        <td>{{table.utime}}</td>
                        <td>
                          <a target="_blank" href="http://{{table.ip}}:{{table.port}}">
                            {{table.port}}
                          </a>
                        </td>
                        <td>
                          {{table.protocol}}
                        </td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                  </table>
                  {% if pagination %}
                    {% import "pagination.html" as page %}
                    {{ page.render_pagination(pagination, url_for('main.q_ip_port')+"?q="+q) }}
                  {% endif %}
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
  </div>
</div>
{% endblock %}